---
import Layout from "../layouts/Layout.astro";
import LoadingBar from "../components/LoadingBar.astro";
---

<Layout title="Portfolio - Marlon Rivera 💎">
  <main>
    <LoadingBar />
    <div id="content">
    </div>
  </main>
</Layout>
