---
import Line from "./Line.astro";
import Emoji from "./../images/emoji.webp";
import Comment from "./../components/Comment.astro";
import MenuPhone from "./../components/MenuPhone.astro"
---

<Line side="end" animation="animatedLR" margin="mt-4 md:mt-6 mr-20" />
<section class="w-screen mt-24 md:mt-0 h-scren animate-fade-in md:animate-zoom-in flex flex-col justify-center">
  <div class="flex flex-row h-screen justify-around w-screen items-center md:-mt-14" >
    <div class="flex flex-col align-top items-center">
      <img src={Emoji.src} class="hidden md:block w-[30%] md:m-8 md:w-[230px]" alt="Emoji Marlon Rivera" />
      <div class="hidden md:block">
        <ul class="flex flex-col items-start">
          <li>
            <a
              href="/projects"
              class="flex justify-center mb-6 items-center text-white text-xl hover:scale-150"
            >
              <Comment />
              Projects
            </a>
          </li>
          <li>
            <a
              href="/information"
              class="flex justify-center mb-6 items-center text-white text-xl hover:scale-150"
            >
              <Comment />
              Information
            </a>
          </li>
          <li>
            <a
              href="/contactMe"
              class="flex justify-center mb-6 items-center text-white text-xl hover:scale-150"
            >
              <Comment />
              Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w-[95%] md:w-[700px]">
      <div class="flex justify-center items-center">
        <h2 class="text-white text-5xl md:mt-10 mt-0 w-full md:text-7xl text-left md:block">About me</h2>
        <button id="menu" class="bg-[#0000ff] bg-opacity-[0.2] rounded-md mr-4 md:hidden"> <Comment id="menu" /> </button>
        <script>
          let menu = document.getElementById("menu")
          menu?.addEventListener("click", ()=>{
            let menuPhone = document.getElementById("menuPhone")
            if(menuPhone){
              if(menuPhone.style.display == "block"){
                menuPhone.style.display = "none";
              }else{
                if(menu){
                  menu.style.display = "none"
                }
                menuPhone.style.display = "flex"
              }
            }
          })
        </script>
        
        <MenuPhone  />
      </div>
      <img src={Emoji.src} class="iconPhone float-left shape w-[35%] rounded-full md:hidden" alt="Emoji Marlon Rivera" />
      <p class="text-white">
        I am an eighth-semester student majoring in Systems and Computing
        Engineering at UPTC (Tunja). My passion for technology is reflected in
        my motivation and enthusiasm for facing challenges. I am a proactive
        collaborator and effective team player, capable of making significant
        contributions to joint projects.
      </p>
      <p>
        My results-oriented approach is complemented by a natural ability to set
        and achieve goals. In addition to my strong technical skills, I stand
        out for my capacity to adapt to group dynamics and generate innovative
        ideas. My insatiable desire to learn drives me to stay updated on the
        latest technological trends and actively seek opportunities for personal
        and professional growth.
      </p>
      <p>
        I am convinced that my combination of skills, positive attitude, and
        commitment to excellence will be valuable for your company. I look
        forward to the opportunity to be part of a dynamic team and contribute
        to the ongoing success of the organization.
      </p>
    </div>
  </div>

  <Line side="start" animation="animatedRL" margin="flex-start mt-10 md:mt-0 md:bottom-10 ml-20" />
</section>

<style>
  h2 {
    text-shadow:
      1px 0 #0000ff,
      -1px 0 #0000ff,
      0 1px #0000ff,
      0 -1px #0000ff,
      1px 1px #0000ff,
      -1px -1px #0000ff,
      1px -1px #0000ff,
      -1px 1px #0000ff;
  }
  a{
    transition: transform 0.3s ease-in-out;
  }
  p {
    color: white;
    margin: 30px 0px 30px 0px;
  }
  .iconPhone{
    shape-outside: circle();
    margin: 10px 30px 3px 20px;
  }
</style>
