---
import CommentHtml from "./CommentHtml.astro";
---

<nav class="hidden md:block absolute pb-5 right-0" id="navbar">
  <ul class="flex justify-evenly ">
    <a href="/aboutMe">
      <CommentHtml text="About Me" />
    </a>
    <a href="/projects">
      <CommentHtml text="Projects" />
    </a>
    <a href="/information">
      <CommentHtml text="Information" />
    </a>
    <a href="/contactMe">
      <CommentHtml text="Contact" />
    </a>
  </ul>
  <script>
    window.addEventListener("scroll", function () {
      var navbar = document.getElementById("navbar");
      if (navbar && window.scrollY > 0) {
        navbar.style.top = window.scrollY + "px"; // Mueve el navbar con el scroll
      } else if (navbar) {
        navbar.style.top = "0"; // Vuelve a la posición original cuando se desplaza hacia arriba
      }
    });
  </script>
</nav>
<style>
  a {
    color: #fff;
  }
  a:hover {
    transform: scale(1.2);
  }
  #navbar {
    transition: top 0.1s;
    background: linear-gradient(
      to bottom,
      rgba(0, 0,0),
      transparent
    ); 
    backdrop-filter: blur(10px);
  }
</style>
